.container{
    display: flex;
}

.flex-item{
    flex-grow: 1;
    border: 2px solid #D50000;
    margin: 5px;
    padding: 10px;
}

.flex-item-top{
    flex-grow: 1;
    margin: 5px;
    padding: 10px;
    width: 100px;
}

.surveyBox {
    display: none;
    border: 2px solid #D50000;
}

* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    margin: 5px;
}
